.staking-home .home-content-btn {
  display: flex;
  flex-direction: column !important;
}
.allDetails {
  gap: 20px;
  flex-wrap: wrap;
}

.staking-home .home-content-btn div {
  display: flex;
  justify-content: space-evenly;

  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 22px;
}

.staking-home .home-content-btn .btn {
  padding: 10px;
  text-transform: capitalize;
  width: 40%;
  margin: auto;
  font-family: "Mulish", sans-serif;
  font-weight: 700;
  font-size: 18px;
  margin-top: 20px;
  color: white;
  background-color: #212529;
}

.staking-home .home-content-btn .btn:hover {
  background-color: white;
  border: 2px solid #212529;
  color: #212529;
}

.mobile-responsive .left-side {
  /* background-color: red; */
  margin: 20px;
}

.timer div {
  padding: 6px;
}

.timer div div {
  color: white;
  background-color: #212529;
  border-radius: 3px;
  margin: 8px;
  padding: 8px;
  text-align: center;
  font-size: 18px !important;
}

@media screen and (max-width: 769px) {
  .staking-home .home-content-btn {
    display: flex;
    flex-direction: column !important;
  }
}

@media screen and (max-width: 600px) {
  .staking-home .home-content-btn {
    display: flex;
    flex-direction: column !important;
  }
  .staking-home .home-content-btn div {
    display: flex;
    justify-content: space-between;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 16px;
  }
  .allDetails {
    margin: auto;
  }
  .mobile-responsive {
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
  }

  .staking-home .home-content-btn .btn {
    padding: 7px;
    text-transform: capitalize;
    width: 60%;
    margin: auto;
    font-family: "Mulish", sans-serif;
    font-weight: 700;
    font-size: 16px;
    margin-top: 20px;
    color: white;
    background-color: #212529;
  }

  .timer {
    /* background-color: red; */
  }

  .timer div {
    padding: 6px;
  }

  .timer div div {
    color: white;
    background-color: #212529;
    border-radius: 3px;
    margin: 3px;
    font-size: 16px !important;
  }
}

@media screen and (max-width: 376px) {
  .staking-home .home-content-btn .btn {
    font-size: 16px;
    margin-top: 20px;
  }
}
